<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> 
        </style>
        <link rel="shortcut icon" type="image/x-icon" href="static/favicon alpaka.jpg">
        <title>
            404
        </title>
    </head>
    <body>
        <div class="zurück">
            <a href="/">
                Zurück
            </a>
        </div>
        <h1>Coming soon!</h1>
        <img src="https://raw.githubusercontent.com/MHD-Team/blank/main/art%20(1).png", alt="sorry emoji"></img>
        <p>Sorry, this page isn't there yet</p>
    </body>

</html>
