<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> 
        </style>
        <link rel="shortcut icon" type="image/x-icon" href="static/favicon alpaka.jpg">
        <title>
            MHD Spiel
        </title>
    </head>
    <body>
        <h1>
           Möchtest du 10 Punkte verwenden um zu spielen?
        </h1>
        <div class="antwort">
            <a href="/">
                Ja
            </a>
            <a href="Spielesammlung.html">
               Nein
            </a>
        </div>



    </body>

</html>
