<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="style.css"> 
        </style>
        <link rel="shortcut icon" type="image/x-icon" href="favicon alpaka.jpg">
        <title>
            MHD Spiel
        </title>
    </head>
    <body>
        <div class="navigation">
            <a href="punkte.html">
                Home
            </a>
        </div>
        <div class="main">
            <h1>
                 Was ist das MHD vom Produkt?
            </h1>
                <input type="date">
        <div class="eingabe">
            <a href="Punkte 2.html">
                 Prüfen
            </a>
        </div>
    </body>
</html>