<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> 
        </style>
        <link rel="shortcut icon" type="image/x-icon" href="staticfavicon alpaka.jpg">
        <title>
            MHD Spiel
        </title>
    </head>
    <body>
        <div class="navigation">
            <a href="/">
                Home
            </a>
        </div>
        <div class="main">
            <h1>
                 Was ist das MHD vom Produkt?
            </h1>
            <form action="mhd" method="POST">
                <input type="date" name="date">
                <div class="eingabe">
                    <input type="submit" name="Prüfen">
                </div>
            </form>
            <img src="blank.png" alt="image" id="image">
            <script type="text/javascript">
                let list = ["https://raw.githubusercontent.com/MHD-Team/blank/main/art%20(4).png",
                            "https://raw.githubusercontent.com/MHD-Team/blank/main/art%20(5).png",
                            "https://raw.githubusercontent.com/MHD-Team/blank/main/art%20(6).png",
                            "https://raw.githubusercontent.com/MHD-Team/blank/main/art%20(7).png",
                            "https://raw.githubusercontent.com/MHD-Team/blank/main/art%20(8).png",
                            "https://raw.githubusercontent.com/MHD-Team/blank/main/art%20(9).png",
                            "https://raw.githubusercontent.com/MHD-Team/blank/main/art%20(10).png"
                            ]
                function randomizer() {
                    return list[Math.floor(Math.random() * list.length)]
                }
                let image = document.getElementById("image");
                image.src = randomizer()
            </script>
    </body>
</html>