<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> 
        </style>
        <link rel="shortcut icon" type="image/x-icon" href="favicon alpaka.jpg">
        <title>
            MHD Spiel
        </title>
    </head>
    <body>
        <div class="navigation">
            <a href="/">
                Home
            </a>
        </div>
        <div class="main">
            <h1>
                 Was ist das MHD vom Produkt?
            </h1>
            <form action="mhd" method="POST">
                <input type="date" name="date">
                <div class="eingabe">
                    <input type="submit" name="Prüfen">
                </div>
            </form>
    </body>
</html>