<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="style.css"> 
        </style>
        <link rel="shortcut icon" type="image/x-icon" href="favicon alpaka.jpg">
        <title>
            MHD Spiel
        </title>
    </head>
    <body>
        <div class="navigation">
            <a href="punkte.html">
                Home
            </a>
        </div>
        <h1>
            Du hast <span id=pluspoints>10000<span> Punkte verdient, du hast insgesamt <span id=total>20000</span> Punkte.
        </h1>
    </body>

</html>
