<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="style.css"> 
        </style>
        <link rel="shortcut icon" type="image/x-icon" href="favicon alpaka.jpg">
        <title>
            MHD Spiel
        </title>
    </head>
    <body>
            <div class=abmelden>
                <a href="Profil.html">
                    Abmelden
                </a>
                <a href="index.html">
                    Neues Produkt
                </a>
            </div>  
        <h1>
            Du hast insgesamt <span id=points>20000</span> Punkte.
        </h1>
    </body>
</html>
