<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> 
        </style>
        <link rel="shortcut icon" type="image/x-icon" href="static/favicon alpaka.jpg">
        <title>
            MHD Spiel
        </title>
    </head>
    <body>
        <div class="zurück">
            <a href="punkte.html">
                zurück
            </a>
        </div>
        <img src="images/art (13).png" alt="Brickgame Vorschau">
        <div class="spiel1">
            <a href="Abzug Punkte.html">
                Brickbreaker
            </a>
            <a href="Abzug Punkte.html">
                2 Spiel
            </a>
        </div>
    </body>

</html>
